<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/style') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <nav>
        <a href="/cities">HOME</a>
        <a href="https://www.fifa.com/fifaplus/en/home">FIFA World Cup 2026™</a>
        <a href="https://www.fifa.com/fifaplus/en/tickets">TICKETS</a>
        <a href="/sessions/account">MY ACCOUNT</a> 
        <a href="/sessions/logout">LOGOUT</a> 
     </nav>   

    <h1>Personal information</h1>

    <form action="/sessions/edit?_method=PUT" method="POST">
      
        Name <input type="text" name="name" value="<%=currentUser.name%>" /><br />
        Phone: <input type="number" name="phone" value="<%=currentUser.phone%>" /><br />
        Email: <input type="text" name="email" value="<%=currentUser.email%>" /><br />
        
        
        <br />
        <input type="submit" value="Submit Changes" />
      </form>
   
    <form action="/sessions/password?_method=PUT" method="POST">
        New Password: <input type="password" name="newPassword" /><br />
        
        <br />
        <input type="submit" value="Submit New password" />
    </form>
</body>
</html>