<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/pages.css">
    <link href="https://fonts.googleapis.com/css2?family=Mandali&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chathura:wght@100&family=Italiana&display=swap" rel="stylesheet">
    <title>Document</title>
    
</head>
<body>
    <div class="city-flex">

    <%- include('partials/header') %>

    <h1 class="city-title"><%= city.city %></h1>
    <% if (city.picture !== "") { %>
        <img class ="city-picture" src="<%= city.picture %>" alt="City Picture" width="400px">
    <% } %>

    <div class="city-detail">
        <h2>HISTORY:</h2>
     <h3><%= city.history %></h3>
     <h2>TEMPERATURE:</h2>
     <h3><%= city.temperature %></h3>
     <h2>TRANSPORTATION:</h2>
     <h3><%= city.transportation%></h3>
    </div>

    <h1 class="city-name">Must see in <%= city.city %>:</h1>

    <ul class="city-must-see">

        <% city.mustSee.forEach(mustSee => { %>
            <li> 
            
            <h2 class="see-title"><%= mustSee.name %></h2> 
            <img class="city-picture-must-see" src="<%= mustSee.img %>" alt="City Picture" width="400px">
            <p class="see-p"><%= mustSee.admissionFee %></p>
            <p class="see-p"><%= mustSee.category %></p>
            <a href="<%= mustSee.website %>">Official Website</a>
            
            </li>
            
        <% }); %>
    </ul>

</div>
    
    
</body>
</html>