<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/pages.css">
    <link href="https://fonts.googleapis.com/css2?family=Mandali&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chathura:wght@100&family=Italiana&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1 class="plan-name-show">MY TRIP PLAN</h1>
    
    <div class="plan-show">
    <ul>
        <% plans.forEach(plan => { %>
        <h2><%=plan.city%></h2>
        <h3>To-Do: <%=plan.todo%></h3>
        <h3>Comments: <%=plan.comments%></h3>
        
        <div class="plan-submit">
        <a class="plan-submit" href="/sessions/<%=plan._id%>/edit">Edit</a>
        <form action="/sessions/<%=plan.id%>?_method=DELETE" method="POST">
            <input class="plan-submit" type="submit" name="" id="" value="DELETE">
        </div>
        <% }) %>
    </ul>
</div>
    <div class="plan-page-btn" >
    <a href="/sessions/plan">Add New Plan </a>
    <a href="/cities">back to Home Page</a>
</div>
</body>
</html>